body{background-image: linear-gradient(to right, rgb(255, 249, 249), rgb(191, 189, 189));}

h1{
    text-align: center;
    font-size: large;
    font-family: sans-serif;
  }

p{border: solid 2px black;
  border-radius: 5px;
  box-shadow: 1px 2px 3px;
  text-align: center;
  font-size: large;
  font-family: sans-serif;
}

.btn{display: flex;
    flex-direction: row-reverse;
    height: 100%;}

button{
  margin: 0.2em;
  
  border: solid 0.2px black;
  border-radius: 5px;
  box-shadow: 1px 2px 3px;
  font-size: large;
  font-family: sans-serif;
  text-align: right;
}

/* #btnClick{
    display:flex;
    justify-content: center;
    text-align: center;
} */
#pWrap{
    display:flex;
    justify-content: center;
}

#demo{
    padding: 0.3em;
    background-color:chartreuse;
}

#imgWrap2{
    display: flex;
    justify-content: center;
}

#imgProp{
    /* border: solid 0.1em rgb(196, 193, 237); */
    border-radius:0.5em;
    box-shadow: 0em 0em 0.7em;
    
}
#imgId{
  background-color:red;
}